
.leaflet-marker-icon.markerPoint,.leaflet-marker-icon.clickPoint{
    margin-left: -5px !important;
    margin-top: -5px !important;
    width: 10px !important;
    height: 10px !important;
    border-radius: 50%;
    border: 1px solid #0083cb;
    background-color: #fff;
}

